doctype
html(itemscope itemtype="http://schema.org/Person" id=site.author)
  head
    title= site.name
    link(rel="canonical" href=(site.url + path))
    link(rel="author" href=site.email)
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes")
    meta(name="description" itemprop="description" content=description)
    meta(property="og:title" content=site.name)
    meta(property="og:description" content=description)
    meta(property="og:type" content="profile")
    meta(property="og:image" content=(site.url + site.imagePath))
    meta(property="og:email" content=site.email)
    meta(property="fb:admins" content=site.facebook)
    meta(name= "twitter:card" content="summary")
    meta(name= "twitter:title" content=site.name)
    meta(name= "twitter:url" content=(site.url + path))
    meta(name= "twitter:description" content=description)
    meta(name= "twitter:site" content=site.twitter)
    meta(name= "twitter:creator" content=site.twitter)
    meta(name= "twitter:image" content=(site.url + site.imagePath))
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="/images/icons/favicon-196x196.png" sizes="196x196")
    link(rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/images/icons/favicon-128.png" sizes="128x128")
    meta(name="application-name" content=site.name)
    meta(name="msapplication-TileColor" content="#00667f")
    meta(name="msapplication-TileImage" content="/images/icons/mstile-144x144.png")
    meta(name="msapplication-square70x70logo" content="/images/icons/mstile-70x70.png")
    meta(name="msapplication-square150x150logo" content="/images/icons/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo" content="/images/icons/mstile-310x150.png")
    meta(name="msapplication-square310x310logo" content="/images/icons/mstile-310x310.png")
    script(async src="/main.js")
    script(async src="//www.google-analytics.com/analytics.js")
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '#{site.googleAnalyticsID}', 'auto');
      ga('send', 'pageview');
  body
    .all.container
      header
        h1
          a(href="/")= site.name
      main
        != yield
      footer
        - var startYear = site.firstPublishedYear
        - var endYear   = (new Date()).getUTCFullYear()
        .copyright
          | &copy; 
          if startYear === endYear
            = startYear
          else
            = startYear
            | -
            = endYear
          = ' '
          = site.author
